@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
.App {
  background-color: black;
  font-family: "Newsreader", serif;
}
#App {
  background-color: black;

  /* text-align: center; */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.StickyStream{
  width: 100%;
}


.scrollable-container {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
/* App.css */
html, body, .App {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#link-to-form {
  color: var(--bs-white);
  position: fixed;
  font-size: 3em;
  left: 25px;
  bottom:0;
  z-index: 1000;
  cursor: pointer;
}
#link-to-form:hover {
    color: #e0cde8 !important;
}
