/* title.css */

.navbar-brand {
  font-weight: bold !important;
  font-size: 25px !important;
  color: #fff !important;

}

.purple {
  background-color: #000 !important;
  color: #fff !important;
}

.nav-link {
  text-decoration: none;
  color: white !important;
  font-weight: bold !important;
  padding: 10px 8px; /* Reduced padding on top and bottom, 10px on left and right */
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #555; /* Change the background color on hover */
}
div.container-fluid{
  padding-left: 100px;
  padding-right: 100px;

}