/* Floating and popping navbar */
#navbar-container {
  display: flex;
  justify-content: space-between;
  background-color:#512f74;/* Navbar color */
  margin: 10px auto; /* Center with margin */
  padding: 10px 20px; /* Add spacing inside the navbar */
  border-radius: 15px; /* Rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Floating shadow effect */
}


/* Adjust the navbar links */
.nav-link {
  text-decoration: none;
  color: white !important;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px; /* Rounded link buttons */
}

